#pageindex{ /*Body de page index */
    background:pink;
}

#pagemuse{ /*Body de page muse */
    background:rgb(80, 148, 238);
}

#h2muse { /*Modifier le H2 de la page muse */
    color:beige;
    font-size: 20px;
}

#pagejpop{ /*Body de page jpop */
    background:rgb(248, 176, 103);
}

#pagekpop{ /*Body de page kpop */
    background:rgba(54, 54, 54, 0.938);
}

#pagepopanglaise{ /*Body de page pop anglaise */
    background:rgb(243, 117, 117);
}

#muse { /*Agrandir l'image muse de la page index */
    height:200px;
    width:200px;
}

#laufey { /*Agrandir l'image laufey de la page pop anglaise */
    height:200px;
    width:200px;
}

#pagemuseimg { /*Agrandir/centrer l'image muse de la page muse */
    height:250px;
    width:250px;
    margin:center;
}

#pagelaufeyimg{ /*Agrandir/centrer l'image laufey de la page pop anglaise */
    height:250px;
    width:250px;
    margin:center;
}

#h2kpop {
    color: beige;
}

#h2jpop {
    color: beige;
}

#h2popanglaise {
    color: beige;
}

.img { /*Agrandir/centrer les images contennant la balise class="img" de chaque image */
    width:250px;
    margin:center;
}

.img:hover { /*Ma transition quand je passe la souris sur les images, donc le hover */
    transform: scale(1.1);
    transition: transform 0.3s ease;
    border:2px solid white;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);
}

h1 { /*Modifie toutes les balises H1 de toutes mes pages */
    font-size: 130px;
    text-align: center;
    color: beige;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 { /*Modifie toutes les balises H2 de toutes mes pages */
    text-align: center;
    color:brown;
    font-family:Courier, monospace;
}

p { /*Modifie toutes les balises p de la page index */
    text-align: center;
    color:brown;
    font-size:25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

table { /*Modifie mes image via la balise table de mon html */
    margin:auto;
    display:flex;
    justify-content: center;
    align-items: center;
    height:45vh;
}

.tdIndex { /*Modifie mes image via la balise td de la balise table de mon html */
    padding:30px;
}

figure { /*Pour les textes en dessous des images */
    text-align: center;
}

figcaption { /*Pour les textes en dessous des images */
    color:beige;
    font-size:16px;
    margin-top:5px;
}

.figIndex { /*Pour les textes en dessous des images de la page index */
    color:brown;
    font-size:16px;
    margin-top:5px;
}

.video-container { /*Pour la video de la page muse */
    display:flex;
    justify-content: center;
    align-items: center;
    padding:10px;
}